body {
    background-color: white;
}

#numeroTarjeta {
    margin-top: 5em;
}

.saldo {
    background-color: #FFB03D;
    color: white;
    width: 50%;
    height: 3em;
    margin-left: 10em;
    margin-top: 5em;
}

.titulo {
    background-color: black;
    color: white;
    width: 50%;
    height: 3em;
    margin-bottom: -3em;
}

.cuadroSaldo {
    background-color: #FFB03D;
    color: white;
    width: 50%;
    height: 4em;
    margin-top: -1.5em;
}

.montoSaldo {
    background-color: #FFB03D;
    color: white;
}

.saldoTotal {
    margin-top: 1em;
}