body {
    background-color: white;
}

#numeroTarjeta {
    margin-top: 5em;
}

.btnCalcular {
    background-color: #FFB03D;
    color: white;
    width: 50%;
    height: 3em;
    margin-left: 10em;
    margin-top: 5em;
}

.titulo {
    background-color: black;
    color: white;
    width: 50%;
    height: 3em;
    margin-bottom: -3em;
}

#costoTarifa {
    background-color: #FFB03D;
    color: white;
    width: 50%;
    margin-top: -1.5em;
    font-size: xx-large;
}

#cuadroSaldoFinal {
    background-color: #FFB03D;
    color: white;
    width: 50%;
    margin-top: -1.5em;
    font-size: xx-large;
}